*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    position: relative;
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content:center;
}
#container{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
#square{

    border: 2px solid green;
    height: 400px;
    display: flex;
    text-align: center;
    justify-content:center;
    flex-direction: column;
}
#logo_container{

    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
}
#logo{
    width: 40px;
    height: 40px;
}
#welcome{

    display: flex;
    height: 40px;

}
#input_container{
    padding-top: 30px;
    border-radius: 15px;
    background-color:green;
    position:relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    height: 18%;
}
#input{
    border-radius: 15px;
    width: 80%;
    height: 65%;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    font-family: 'Noto Sans', sans-serif;
    color: rgba(0,0,0,0.7);
    padding-left: 18px;
    font-size: 1em;
}
#placeholder{
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    display: flex;
    align-items: left;
    justify-content: center;
    left: 14%;
    top: 20%;
    color: rgba(0,0,0,0.7);
    user-select:contain;
    pointer-events: none;
}
#btn{
    padding: 5%;
    height: 30px;
    width: 30px;
    display: flex;
    text-align:center;
    justify-content:center;
    background-color: blue;


}
#btn_right{
    height: 30px;
    width: 50px;
    background-color: blue;
}

